NEXT_PUBLIC_CREDBUZZ_API_URL=http://127.0.0.1:8000/
NEXT_PUBLIC_PRIVY_APP_ID=

NEXT_PUBLIC_CONTRACT_ADDRESS=

NEXT_PUBLIC_OWNER_ADDRESS=
NEXT_PUBLIC_CREDBUZZ_ACCOUNT=
NEXT_PUBLIC_OWNER_SOLANA_ADDRESS= 

# ALPHA
NEXT_PUBLIC_BASE_API=
NEXT_PUBLIC_API_KEY=
NEXT_PUBLIC_BASE_API_NEW=
NEXT_PUBLIC_AUTHORIZATION_KEY=